<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
	<head>
		<title>NG-HIDE and NG-SHOW Example</title>
        <link rel="icon" href="icon/angularjs.jpg">
	</head>
	<style type="text/css">
        table {
            border-collapse: collapse;
            }

        th, td {
            text-align: left;
            padding: 5px;
            border: 1px solid black;
            }
        tr:nth-child(even){
            background-color: #f2f2f2
        }
        thead{
            background-color: #f2f2f2
        }
    </style>
	<body>
		<!-- ng-hide -->
		<h3><u>ng-hide</u></h3>
		<input type="checkbox" ng-model="hideSalary">Hide Salary
		<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th ng-hide="hideSalary">Salary</th><!-- by default it false so it shows the salary -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.city}} </td>
                    <td ng-hide="hideSalary"> {{ employee.salary | number:2 }} </td>  <!-- decimal point:2 -->
                </tr>
            </tbody>
        </table>
		
		<!-- ng-show -->
        <h3><u>ng-show</u></h3>
		<input type="checkbox" ng-model="showSalary">Hide Salary
		<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th ng-show="!showSalary">Salary</th><!-- by default it false. we convert into true so it shows the salary -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.city}} </td>
                    <td ng-show="!showSalary"> {{ employee.salary | number:2 }} </td>  <!-- decimal point:2 -->
                </tr>
            </tbody>
        </table>

        <!-- mask salary -->
        <h3><u>Mask Salary</u></h3>
		<input type="checkbox" ng-model="maskSalary">Hide Salary
		<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th ng-hide="maskSalary">Salary</th><!-- by default it false so it shows the salary -->
                    <th ng-show="maskSalary">Salary</th><!-- by default it false so it hide the salary -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.city}} </td>
                    <td ng-hide="maskSalary"> {{ employee.salary | number:2 }} </td>  <!-- decimal point:2 -->
                    <td ng-show="maskSalary"> ######## </td>
                </tr>
            </tbody>
        </table>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script type="text/javascript" src="script/myScript.js"></script>
</html>