<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Services | $window</title>
		<link rel="icon" href="icon/angularjs.jpg">
	</head>
	<body>
		<div>
			<input type="text" ng-model="greeting" aria-label="greeting" />
			<button ng-click="doGreeting(greeting)">ALERT</button>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="script/myScript.js"></script>
	</body>
</html>
<!--
Simple service for logging. Default implementation safely writes the message into the browser's console (if present). -->
<!--
Console logger. -->
<!-- https://docs.angularjs.org/api/ng/service/$log -->