<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
    <head>
        <title>Filters | Formatting Data | Example 1</title>
        <link rel="icon" href="icon/angularjs.jpg">
    </head>
    <style type="text/css">
        table {
            border-collapse: collapse;
            }

        th, td {
            text-align: left;
            padding: 5px;
            border: 1px solid black;
            }
        tr:nth-child(even){
            background-color: #f2f2f2
        }
        thead{
            background-color: #f2f2f2
        }
    </style>
    <body>
        Rows to display:<input type="number" min="1" max="5" step="1" ng-model="rowCount">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary (Number Filter)</th>
                    <th>Salary (Currency Filter(Default dollar))</th>
                    <th>Salary (Custom Currency Filter(Indian))</th>
                </tr>
            </thead>
            <tbody>
            	<!-- 
            		Filters can be added to expressions by using the pipe character |, followed by a filter. -->
                <tr ng-repeat="employee in employees | limitTo:rowCount" >
                    <td> {{ employee.name | uppercase}} </td>
                    <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy"}} </td>
                    <td> {{ employee.gender | lowercase}} </td>
                    <td> {{ employee.salary | number:2 }} </td>  <!-- decimal point:2 -->
                    <td> {{ employee.salary | currency}} </td>
                    <td> {{ employee.salary | currency:"₹"}} </td>
                </tr>
            </tbody>
        </table>
       
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
    	
    	var app=angular
				.module('myApp', [])
				.controller("myCtrl",function($scope){
				  var employees = [
                            {
                            name: "Ben", dateOfBirth: new Date("November 23, 1980"),
                                gender: "Male", salary: 55000.788
                            },
                            {
                                name: "Sara", dateOfBirth: new Date("May 05, 1970"),
                                gender: "Female", salary: 68000.56
                            },
                            {
                                name: "Mark", dateOfBirth: new Date("August 15, 1974"),
                                gender: "Male", salary: 57000
                            },
                            {
                                name: "Pam", dateOfBirth: new Date("October 27, 1979"),
                                gender: "Female", salary: 53000.89
                            },
                            {
                                name: "Sam", dateOfBirth: new Date("December 30, 1983"),
                                gender: "Male", salary: 60000
                            }
                        ];

            		$scope.employees = employees;
            		$scope.rowCount = 3;
				});
    </script>
</html>

<!-- Filters in angular can do 3 different things
1. Format data
2. Sort data
3. Filter data

Filters can be used with a binding expression or a directive

To apply a filter use pipe (|) character

Syntax : {{ expression | filterName:parameter }} -->


<!-- Angular filters for formatting data
Filter  Description
lowercase   Formats all characters to lowercase
uppercase   Formats all characters to uppercase
number  Formats a number as text. Includes comma as thousands separator and the number of decimal places can be specified
currency    Formats a number as a currency. $ is default. Custom currency and decimal places can be specified
date    Formats date to a string based on the requested format  -->


<!-- Angular date format documentation
https://docs.angularjs.org/api/ng/filter/date -->

<!-- AngularJS provides filters to transform data:

    currency Format a number to a currency format.
    date Format a date to a specified format.
    filter Select a subset of items from an array.
    json Format an object to a JSON string.
    limitTo Limits an array/string, into a specified number of elements/characters.
    lowercase Format a string to lower case.
    number Format a number to a string.
    orderBy Orders an array by an expression.
    uppercase Format a string to upper case. -->

    <!-- https://www.w3schools.com/angular/angular_filters.asp -->
