<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AngularJS Directives Example</title>
		<link rel="icon" href="icon/angularjs.jpg">
	</head>
	<body>
		<div data-ng-app data-ng-init="quantity=1;price=5">
			<h2>Cost Calculator</h2>
			Quantity: <input type="number" ng-model="quantity">
			Price: <input type="number" ng-model="price">
			<p><b>Total in Rupees(&#8377;):</b> {{quantity * price}}</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	</body>
</html>