<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Services | $animate</title>
		<link rel="icon" href="icon/angularjs.jpg">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
	<body>
		<p>
			<button id="add" ng-click="addClass()">Add</button>
			<button ng-click="removeClass()">Remove</button>
			<br>
			<br>
			<div id="target">CSS-Animated Text</div>
		</p>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="script/myScript.js"></script>
	</body>
</html>
<!--
The $animate service exposes a series of DOM utility methods that provide support for animation hooks. The default behavior is the application of DOM operations, however, when an animation is detected (and animations are enabled), $animate will do the heavy lifting to ensure that animation runs with the triggered DOM operation. -->
<!--
This service exposes a series of DOM utility methods that provide support for animation hooks. -->
<!-- https://docs.angularjs.org/api/ng/service/$animate -->