<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
    <head>
        <title>Services | $anchorScroll | Example 3</title>
        <link rel="icon" href="icon/angularjs.jpg">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script type="text/javascript" src="script/myScript.js"></script>
        <style type="text/css">
              body {
                    font-family: Arial;
                }

              div {
                    display: block;
                    font-size: xx-large;
                    height: 350px;
                    width: 400px;
                    border: 1px solid black;
                    padding: 10px;
                    overflow-y: scroll;
                }
        </style>    
    </head>
    <body>
        <span ng-repeat="country in countries">
        <button ng-click="scrollTo(country.name)">{{country.name}}</button>
    </span>
    <br /><br />
    <div class="containerDiv">
        <fieldset ng-repeat="country in countries" id="{{country.name}}">
            <legend>{{country.name}}</legend>
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}}
                </li>
            </ul>
        </fieldset>
    </div>
    </body>
</html>