<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AngularJS Controllers | Methods or Functions</title>
		<link rel="icon" href="icon/angularjs.jpg">
	</head>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			First Name: <input type="text" ng-model="firstName"><br>
			Last Name: <input type="text" ng-model="lastName"><br>
			<br>
			Full Name: {{fullName()}}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
			$scope.firstName = "Andrea";
			$scope.lastName = "Lewis";
			$scope.fullName = function() {
				return $scope.firstName + " " + $scope.lastName;
				};
			});
		</script>
	</body>
</html>