<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
	<head>
		<title>AngularJS Events | (ng-click) Example 2</title>
        <link rel="icon" href="icon/angularjs.jpg">
	</head>
	<style type="text/css">
		table {
  			border-collapse: collapse;
			}

		th, td {
  			text-align: left;
  			padding: 5px;
            border: 1px solid black;
			}
		tr:nth-child(even){
			background-color: #f2f2f2
		}
		thead{
			background-color: #f2f2f2
		}
	</style>
	<body>
		<table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td> {{ technology.name }} </td>
                    <td> {{ technology.likes }} </td>
                    <td> {{ technology.dislikes }} </td>
                    <td> 
                        <input type="button" value="Like" ng-click="increamentLikes(technology)">
                        <input type="button" value="Dislike" ng-click="increamentDislikes(technology)">
                    </td>
                </tr>
            </tbody>
        </table>
       
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script type="text/javascript" src="script/myScript.js"></script>
</html>