<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Form Validation | $error</title>
		<link rel="icon" href="icon/angularjs.jpg">
	</head>
	<body>
		<form name="myForm">
			Name:<input type="text" name="name" ng-model="name" placeholder="Enter Name" required> <span style="color: red" ng-show="myForm.name.$error.required">Name is required</span><br>
			Email:<input type="email" name="email" ng-model="email" placeholder="Enter Email ID" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"> 
			<span style="color: red" ng-show="myForm.email.$error.pattern">Enter valid email ID</span><br>
			<input type="submit" value="Register">
		</form>
		<p>The input state is : {{myForm.name.$error.required}}</p>
		<p>The eamil state is : {{myForm.email.$error.pattern}}</p>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</html>